@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-custom {
    font-family: 'Architects Daughter', cursive;
}

.centerDiv {
    direction: flex;
    justify-content: center;
    align-items: center;
}

/* Your existing CSS code here */

/* CSS for the hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}



/* Rotate lines to create the "X" symbol when the menu is active */
.hamburger-menu.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


  /* Style for the hamburger icon */
  .hamburger {
    cursor: pointer;
  }

  /* Style for the sidebar */
  .sidebar {
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  }

  /* Additional styling for the sidebar content (optional) */
  .sidebar ul {
    list-style: none;
    padding: 0;
    
  }

  .sidebar li {
    font-size: 18px;
    color: #DDAA44;
  }

  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
  }

  .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #bbb;
  }

  /* Additional Styles (Adjust as needed) */
  .modal h2 {
    margin-top: 0;
  }

  .modal form {
    display: flex;
    flex-direction: column;
  }

  .modal input,
  .modal textarea,
  .modal button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .modal button {
    background-color: #DDAA44;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .modal button:hover {
    background-color: #9B8861;
  }


